# Build outputs
obj/
bin/
build/artifacts/
build/temp/
/CHANGELOG.md
/CHANGELOG.NEXT.md

# IDEs
.vs/
*.csproj.user
*.DotSettings.user
launchSettings.json

# Test results
BenchmarkDotNet.Artifacts/

# Test resources
resources/
